<% layout('layouts/boilerplate.ejs') %>

  <div class="container-fluid py-2" id="home-page">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-3 mx-3">
      <% for (let list of allList) { %>
        <div class="col">
          <div class="card border-0">
            <a href="/lists/<%= list._id %>" class="img-wrapper rounded-4">
              <img src="<%= list.image.url %>" class="card-img-top img-fluid rounded-4" alt="list-image">
            </a>
            <div class="card-body d-flex align-items-center flex-column mb-0">
              <p class="card-text">
                <strong><%= list.title %></strong><br>
                &#8377; <%= Number(list.price).toLocaleString("en-IN") %> / Night
                <span id="gst" style="display: none;">&nbsp; &nbsp; 18% GST</span>
              </p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

