<style>
    #flash-success-message,
    #flash-error-message {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
        letter-spacing: 2px;
        position: absolute;
        width: 100%;
        z-index: 2;
        opacity: 0;
        /* Start hidden */
        transform: translateY(-20px);
        /* Move slightly up */
        transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    }

    #flash-success-message.show,
    #flash-error-message.show {
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        width: 100%;
    }
    
</style>


<% if (success && success.length) { %>
    <div class="">
        <div class="alert alert-success alert-dismissible fade show fw-bold text-center" id="flash-success-message"
        role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="close"></button>
        </div>
    </div>
<% } %>

<% if (error && error.length) { %>
    <div class=" ">
        <div class="alert alert-danger alert-dismissible fade show fw-bold text-center"
        id="flash-error-message" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="close"></button>
        </div>
    </div>
<% } %>

                <script>
                    // JavaScript to show and hide flash messages with animation
                    window.onload = function () {
                        // Function to handle the display of flash messages
                        function handleFlashMessage(id) {
                            var flashMessage = document.getElementById(id);
                            if (flashMessage) {
                                flashMessage.classList.add('show');
                                setTimeout(function () {
                                    flashMessage.classList.remove('show');
                                    setTimeout(function () {
                                        flashMessage.style.display = 'none'; // Hide after animation
                                    }, 300); // Wait for the hide transition to finish
                                }, 2000); // Display for 3 seconds
                            }
                        }

                        // Call the function for both success and error messages
                        handleFlashMessage('flash-success-message');
                        handleFlashMessage('flash-error-message');
                    };
                </script>