<footer class="footer bg-body-secondary border-top w-100">
    <div class="d-block px-4">
        <div class="d-flex align-items-center justify-content-center p-2 ">
            <i class="fa-brands fa-x-twitter ms-3"></i>
            <i class="fa-brands fa-facebook-f ms-3 "></i>
            <i class="fa-brands fa-instagram ms-3 "></i>
            <i class="fa-brands fa-linkedin-in ms-3 "></i>
        </div>
        <div class="footer-text align-items-center py-1 text-center">
            <p class="m-0">© 2024 Company, Inc. All rights reserved.</p>
        </div>
        <div class="align-items-center py-1 text-center fw-medium">
            <a class="text-decoration-none " href="#">Privacy</a>
            &
            <a class="text-decoration-none " href="#">Terms</a>
        </div>
    </div>
</footer>