<footer class="footer bg-body-secondary border-top w-100">
    <div class="d-block py-3 px-4">
        <div class="d-flex align-items-center justify-content-center p-2 me-5 ">
            <i class="fa-brands fa-x-twitter ms-3 fs-5"></i>
            <i class="fa-brands fa-facebook-f ms-3 fs-5"></i>
            <i class="fa-brands fa-instagram ms-3 fs-4"></i>
            <i class="fa-brands fa-linkedin-in ms-3 fs-4"></i>
        </div>
        <div class="footer-text align-items-center p-2 text-center">
            <p class="fs-5 m-0">© 2024 Company, Inc. All rights reserved.</p>
        </div>
        <div class="align-items-center p-2 text-center fw-medium fs-5">
            <a class="text-decoration-none " href="#">Privacy</a>
            &
            <a class="text-decoration-none " href="#">Terms</a>
        </div>
    </div>
</footer>